<div class='row'>
  <div class='col-md-4'>
    <pm-product-list
            [errorMessage]="errorMessage$ | async"
            [products]="products$ | async"
            [displayCode] = "displayCode$ | async"
            [selectedProduct]="selectedProduct$ | async"
            (displayCodeChanged)="checkChanged()"
            (initializeNewProduct)="newProduct()"
            (productWasSelected)="productSelected($event)"
    ></pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit
            [errorMessage]="errorMessage$ | async"
            [selectedProduct]="selectedProduct$ | async"
            (delete)="deleteProduct($event)"
            (clearCurrent)="clearCurrentProduct()"
            (create)="createNewProduct($event)"
            (update)="updateProduct($event)"
    ></pm-product-edit>
  </div>
</div>
